exclude: EXPERIMENTAL/.*|.*\.msh|.*template.md|paper.md
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
        exclude: ^ogstools/examples/
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^ogstools/examples/
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        args: [--config=./pyproject.toml]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: python
        types: [python]
        # for backward compatibility
        files: ''
        minimum_pre_commit_version: 0.15.0
        args: [--py310-plus]
  # black-formats code blocks in documentation files
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
      - id: "blacken-docs"
        additional_dependencies:
          - black==23.3.0 # keep in sync with black hook
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.15.1" # keep in sync with code_quality_ruff-job
    hooks:
      - id: ruff
        args: ["--show-fixes", "--fix"]
  - repo: https://github.com/kynan/nbstripout
    rev: 0.9.0
    hooks:
      - id: nbstripout
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
      # Use same versions as above
      - id: nbqa-ruff
        additional_dependencies: [ruff==v0.0.277]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.19.1" # keep in sync with code_quality_mypy-job
    hooks:
      - id: mypy
        files: ogstools
        exclude: ".*/examples/.*"
        additional_dependencies:
          - types-PyYAML
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-log-warn
      - id: python-no-eval
        exclude: ^tests/
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
