nav.bd-links li>a {
  padding: .25rem 1.5rem;
}

table.dataframe {
  width: auto;
}

html[data-theme="light"] {
  --pst-color-primary: rgb(16, 78, 178);
  --sd-color-primary-highlight: rgb(6, 58, 158);
  --pst-color-secondary: rgb(217, 119, 6);
}

html[data-theme="dark"] {
  --pst-color-primary: #507EE4;
  --sd-color-primary-highlight: rgb(6, 58, 158);
  --pst-color-secondary: rgb(217, 119, 6);
}

img.logo__image {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

html {
  --pst-font-family-base: 'Open Sans', var(--pst-font-family-base-system);
  --pst-font-family-heading: 'Open Sans', var(--pst-font-family-base-system);
}
